{% extends 'base.html' %}
{% block content %}
<style>
    white_color {
      background-color:white !important;
    }
</style>
    <h1 data-aos="fade-up">Click to <span class="typed-words"></span></h1>

    <div id="hideiframe" class="mt-3" style="display: none;">
        <iframe style="background: #FFFFFF;" name="myiframe"  src="" frameborder="0"></iframe>
    </div>
    <div class="card-body scroll" id="kotak">
        <p class="card-text" id="result"></p>
    </div>
    <br>

    <!--form action="{{ url_for('log_generate') }}" method='POST'-->
        <div id="allcheckbox">
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Jan" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Jan</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Feb" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Feb</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Mar" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Mar</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Apr" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Apr</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="May" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">May</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Jun" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Jun</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Jul" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Jul</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Aug" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Aug</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Sep" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Sep</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Oct" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Oct</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Nov" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Nov</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="text-white mb-3" type="checkbox" id="inlineCheckbox" value="Dec" name='log_checkbox' style="margin-right: 5px;">
                <label class="text-white mb-3" for="inlineCheckbox">Dec</label>
            </div>
            <div>
                <select id="ddlYears" name="log_year" style="width: 80px; height: 40px; text-align-last: center;"></select>
            </div>
        </div>
        
        <div class="ludes-margin-bottom mt-3">
            <p class="btn btn-primary" onclick="postListCheckbox()" id="mybutton" >Generate</p>
            <a class="btn btn-primary hidebutton" id="downloadbutton" href="{{ url_for('static', filename='result/logresult_rs.csv') }}" download>Download logresult_rs.csv</a>
        </div>   
        
    <!--/form-->

    <script src="{{ url_for('static', filename='bootstrap/js/typed.js') }}"></script>
    <script>
            var typed = new Typed('.typed-words', {
            strings: ["Generate Log Analysis"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
    </script>

    <script type="text/javascript">
        window.onload = function () {
            //Reference the DropDownList.
            var ddlYears = document.getElementById("ddlYears");
     
            //Determine the Current Year.
            var currentYear = (new Date()).getFullYear();
     
            //Loop and add the Year values to DropDownList.
            for (var i = 1990; i <= currentYear; i++) {
                var option = document.createElement("OPTION");                
                option.innerHTML = i;
                option.value = i;
                
                if (currentYear == i) {
                    option.selected = 'true';
                }
                ddlYears.appendChild(option);
            }
        };
    </script>
    <script>
        function postListCheckbox(){
            if($('input:checked').length==0){
                alert('Please choose month!!!')
            }else{
                
                //hiding button
                var hidebtn = document.getElementById("mybutton");
                var hidebtndwnld = document.getElementById("downloadbutton");
                //var hideiframe = document.getElementById("hideiframe");
                var hidecheckbox = document.getElementById("allcheckbox");
                
                
                
                
                hidebtn.style.display = "none";
                hidebtndwnld.style.display = 'none';
                //hideiframe.style.display = 'flex';
                //hideiframe.style.justifyContent = 'center';
                hidecheckbox.style.display = 'none';
                //get value from checkbox

                var check_box_values = $('input:checked').map(function () {
                    return this.value;
                }).get();
                //get value from year
                var select_year = document.getElementById('ddlYears').value
                check_box_values.push(select_year)
                console.log(check_box_values);

                //get value from log/generate to unhide button & load log/generate to card
                var xhttp = new XMLHttpRequest();
                var element = document.getElementById("kotak");
                xhttp.onreadystatechange = function() {
                    if (this.responseText.includes('Finished')){
                        hidebtn.style.display = "inline";
                        hidebtn.innerText = 'Regenerate';
                        hidebtndwnld.style.display = "inline";
                        hidecheckbox.style.display = 'inline';
                    }

                    hasil = this.responseText.toString();
                    hasil_split = hasil.split('|')
                    console.log(hasil_split);
                    var count_finished = 0;
                    if(hasil_split==""){
                        //pass
                    }else if(hasil_split.includes("Finished") && hasil_split==1){
                        console.log('dapet');
                        count_finished = 0;
                    }else if(hasil_split.includes("Finished")){
                        console.log('dapet iterasi');
                        document.getElementById("result").innerHTML += hasil_split[hasil_split.length - 2] + "<br>";
                        count_finished += 1;
                    }else{
                        document.getElementById("result").innerHTML += hasil_split[hasil_split.length - 2] + "<br>";
                    }
                    element.scrollTop = element.scrollHeight;
                };
                xhttp.open("POST", "/log/generate", true);
                xhttp.send(check_box_values);


            };
            

        }
    </script>
{% endblock %}