{% extends 'base.html' %}
{% block content %}
<h1 data-aos="fade-up">Klik di sini untuk <span class="typed-words"></span></h1>
<a class="btn btn-primary" id="downloadbutton" href="https://localhost:5002/static/result/Laporan%20Jaringan%20Dinas%20Perpustakaan%20dan%20Kearsipan.docx" download>Unduh Laporan</a>
<!-- <a class="btn btn-primary" id="downloadbuttonxlsx" href="{{ url_for('static', filename='result/Laporan Jaringan DISPUSIP.xlsx') }}" download>Download .xlsx</a> -->
<script src="{{ url_for('static', filename='bootstrap/js/typed.js') }}"></script>
    <script>
            var typed = new Typed('.typed-words', {
            strings: ["Unduh Laporan Jaringan DISPUSIP.docx"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
    </script>
{% endblock %}